.card {
  width: 200px;
  height: 380px;
  margin: 20px 20px;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
   box-shadow: rgb(128,0,128,0.2) 0px 10px 20px;
  scale: 1.01;
}


.image {
  width: 100%;
  height: 267px;
  display: flex;
  justify-content: center;
}

.price {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.title {
  font-size: 1.2rem;

}

.description {
  font-size: 0.8rem;
  white-space: nowrap;
  color: gray;
}